body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.main-content {
  overflow: hidden;
  height: 100vh;
}

button:not(:disabled) {
  cursor: pointer;
}

.styled-button {
  z-index: 10;
  border: 1px solid #000;
  background: none;
  color: #000;
  border-radius: 4px;
  padding: 2px;
  box-shadow: #000 4px 4px 0px;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}

.styled-button:hover {
  background: #000;
  color: #fff;
  box-shadow: #000 0px 0px 0px;
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 4px;
}

.styled-button.contact {
  bottom: 2vh;
  position: absolute;
  left: 2vw;
}

.styled-button.about {
  top: 2vh;
  position: absolute;
  left: 2vw;
  z-index: 10;
}

.close-button {
  width: 20px;
  height: 20px;
  background-color: #c0c0c0;
  border: 2px solid #000000;
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
  box-shadow: 1px 1px #000000;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: 2px;
  padding: 0 2px 2px 0;
}

.close-button:hover {
  background-color: #f0f0f0;
  box-shadow: 1px 1px #000000;
}

.close-button:active {
  background-color: #d0d0d0;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tiny {
  font-size: 1rem;
}

.link {
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
  font-size: 0.75rem;
  color: #000;
}
